<section id="about" class="about">
    <div class="about__wrap">
        <div class="container">
            <div class="about__inner">
                <div class="about__image-wrap">
                    <picture>
                        <source srcset="images/about-1.webp">
                        <img src="images/about-1.jpg" alt="О компании" class="about__image">
                    </picture>
                </div>

                <div class="about__text-wrap">
                    <h2 class="about__title">О компании</h2>
                    <p class="about__subtitle">Мы - инженерный центр Glazer, который помогает различным предприятиям
                        решать их задачи:</p>

                    <ul class="about__items">
                        <li class="about__item">Закрыть дефицит по недостающим деталям путем получения для них комплекта
                            чертежей
                        </li>
                        <li class="about__item">Получить высокоточные 3D-модели</li>
                        <li class="about__item">Провести контроль геометрии</li>
                        <li class="about__item">Измерить изделие.</li>
                    </ul>

                    <p class="about__description">
                        Мы спасаем отечественные производства от санкционных капризов Запада и помогаем им с
                        <strong>импортозамещением</strong>.</p>

                    <div class="about__image-mobile show-mobile">
                        <picture>
                            <source srcset="images/about-1-mobile.webp">
                            <img src="images/about-1-mobile.jpg" alt="О компании" class="about__image">
                        </picture>
                    </div>

                    <p class="about__description">
                        Наши инженеры занимаются в том числе и разработкой «с нуля» по техническому заданию
                        заказчика.<br>
                        <br>
                        Можем помочь наладить производство дефицитных позиций, любых деталей и механизмов, а также
                        предоставить комплект чертежей для запуска в производство вашими или нашими силами.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>