<section id="benefits" class="benefit">
    <div class="container">
        <h2 class="benefit__title">Плюсы работы c нами</h2>

        <div class="benefit__inner">
            <ul class="benefit__grid">
                @@loop('benefit-item.html', [
                { "num": 1, "width": 98, "height": 56, "description": '<b>Оперативный выезд</b> на ваше предприятие' },
                { "num": 2, "width": 78, "height": 88, "description": 'Разрабатываем детали и механизмы <b>из любого материала</b>' },
                { "num": 3, "width": 80, "height": 80, "description": 'Берем на себя <b>полный цикл производства</b> вашей продукции' },
                { "num": 4, "width": 71, "height": 71, "description": 'Используем только <b>современное высокоточное оборудование</b>' },
                { "num": 5, "width": 49, "height": 68, "description": 'Предоставляем <b>полный пакет документов</b>' },
                { "num": 6, "width": 82, "height": 72, "description": 'Работаем <b>по всей России и СНГ</b>' },
                { "num": 7, "width": 77, "height": 79, "description": '<b>Расчёт стоимости</b> в течение 30 минут' },
                { "num": 8, "width": 78, "height": 78, "description": '<b>Конструкторская документация</b> по ЕСКД' },
                { "num": 9, "width": 80, "height": 87, "description": '<b>Экспертное сопровождение</b> производства' },
                ])
            </ul>
        </div>
    </div>
</section>