<footer class="footer">
    <div class="container">
        <address class="footer__top address">
            <a href="#" class="footer__logo-link">
                <div class="footer__logo-wrap">
                    <div class="footer__logo-circle">
                        <svg class="footer__logo">
                            <use xlink:href="images/sprite.svg#logo"></use>
                        </svg>
                    </div>

                    <div class="footer__logo-text">
                        <p class="footer__logo-title">Glazer</p>
                        <p class="footer__logo-caption">Инженерный центр</p>
                    </div>
                </div>
            </a>

            <div class="footer__address address__section">
                <svg class="address__icon">
                    <use xlink:href="images/sprite.svg#map"></use>
                </svg>

                <div class="address__text">
                    <p class="address__place">г. Ижевск, ул. Пушкинская, д. 185, оф. 33</p>
                    <p class="address__schedule">
                        Пн-Пт: 8:00 - 18:00 Сб-Вс:<br>
                        работаем удалённо, звоните!
                    </p>
                </div>
            </div>

            <div class="footer__email address__section">
                <svg class="address__icon">
                    <use xlink:href="images/sprite.svg#mail"></use>
                </svg>

                <ul class="footer__email-list">
                    <li class="footer__email-item">
                        <a href="mailto:glazer.kb@gmail.com" class="footer__email-link">glazer.kb@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="footer__phone address__section">
                <svg class="address__icon">
                    <use xlink:href="images/sprite.svg#phone"></use>
                </svg>

                <ul class="footer__phone-list">
                    <li class="footer__phone-item">
                        <a href="tel:83412776620" class="footer__phone-link">8 (3412) 77-66-20</a>
                    </li>
                    <li class="footer__phone-item">
                        <a href="tel:89226888544" class="footer__phone-link">8 (922) 688-85-44</a>
                    </li>
                </ul>
            </div>

            <div class="footer__social address__section">
                <ul class="footer__social-list">
                    <li class="footer__social-item">
                        <a href="https://t.me/+79226888544" class="footer__social-link" aria-label="Телеграм">
                            <svg class="footer__social-icon">
                                <use xlink:href="images/sprite.svg#social-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="https://vk.com/glazer_org" target="_blank" class="footer__social-link" aria-label="Вконтакте">
                            <svg class="footer__social-icon">
                                <use xlink:href="images/sprite.svg#social-vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="https://dzen.ru/" class="footer__social-link" aria-label="Яндекс Дзен">
                            <svg class="footer__social-icon">
                                <use xlink:href="images/sprite.svg#social-dzen"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </address>

        <div class="footer__bottom">
            <p class="footer__legal">
                GLAZER - 3D сканирование © 2019 - 2022<br>
                <br>
                ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "НАДЕЖНЫЙ ДОМ"<br>
                ИНН: 1840088147<br>
                КПП: 184001001<br>
                Банк: МОСКОВСКИЙ ФИЛИАЛ АО КБ "МОДУЛЬБАНК"<br>
                БИК: 044525092<br>
                к/с: 30101810645250000092<br>
                Счет: 40702810170010190574 (Расчётный счёт)<br>
                426034 УР г. Ижевск ул. Районная д.57 лит. А оф. 4 то<br>
            </p>

            <ul class="footer__link-list">
                <li class="footer__link-item">
                    <a href="#" class="footer__link">Политика конфиденциальности</a>
                </li>
                <li class="footer__link-item">
                    <a href="#" class="footer__link">Пользовательское соглашение</a>
                </li>
            </ul>
        </div>
    </div>
</footer>