<nav id="main-nav" class="navbar">
    <div class="container">
        <div class="navbar__inner">
            <a href="#" class="navbar__logo-link">
                <div class="navbar__logo-wrap">
                    <div class="navbar__logo-circle">
                        <svg class="navbar__logo">
                            <use xlink:href="images/sprite.svg#logo"></use>
                        </svg>
                    </div>

                    <div class="navbar__logo-text">
                        <p class="navbar__logo-title">Glazer</p>
                        <p class="navbar__logo-caption">Инженерный центр</p>
                    </div>
                </div>
            </a>

            <button class="navbar__close js-nav-toggle" aria-label="Закрыть меню">
                <svg class="navbar__close-icon">
                    <use xlink:href="images/sprite.svg#close-nav"></use>
                </svg>
            </button>

            <ul class="navbar__menu nav">
                <li class="nav__item"><a href="#service" class="nav__link">Услуги</a></li>
                <li class="nav__item"><a href="#project" class="nav__link">Наши работы</a></li>
                <li class="nav__item"><a href="#benefits" class="nav__link">Преимущества</a></li>
                <li class="nav__item"><a href="#stage" class="nav__link">Этапы работы</a></li>
                <li class="nav__item"><a href="#thanks" class="nav__link">Отзывы</a></li>
                <li class="nav__item"><a href="#about" class="nav__link">О компании</a></li>
            </ul>

            <button class="navbar__button btn btn_fill js-modal-trigger" data-modal="#call-request" aria-label="Заказать звонок">Заказать звонок</button>

            <ul class="navbar__phone-list">
                <li class="navbar__phone-item">
                    <a href="tel:89226888544" class="navbar__phone-link">8 (922) 688-85-44</a>
                </li>
                <li class="navbar__phone-item">
                    <a href="tel:83412776620" class="navbar__phone-link">8 (3412) 77-66-20</a>
                </li>
            </ul>
        </div>
    </div>
</nav>