<section id="project" class="project">
    <div class="container">
        <h2 class="project__title visually-hidden">Реализованные проекты</h2>

        <ul class="project__items">
            @@loop('project-item.html', [
            { "num": 1, "title": 'Вставки горловые дорна' },
            { "num": 2, "title": 'Глушитель для грузового комерческого транспорта 1' },
            { "num": 3, "title": 'Глушитель для грузового комерческого транспорта 4' },
            { "num": 4, "title": 'Крыльчатка жидкостного насоса' },
            { "num": 5, "title": 'Литьевая пресс-форма' },
            { "num": 6, "title": 'Матрица' },
            ])
        </ul>

        <a href="#" class="project__more-link">Посмотреть ещё</a>
    </div>
</section>