<section id="promobar" class="promobar">
    <div class="container">
        <div class="promobar__inner">
            <div class="promobar__arrows-wrap">
                <svg class="promobar__arrows">
                    <use xlink:href="images/sprite.svg#promobar-arrows"></use>
                </svg>
            </div>

            <div class="promobar__text-wrap">
                <div class="promobar__heading-wrap">
                    <h2 class="promobar__heading">Сроки выполнения работ от одного дня!</h2>
                </div>

                <div class="promobar__btn-wrap">
                    <button class="btn btn_fill btn_lg promobar__btn js-modal-trigger" data-modal="#call-request" aria-label="Заказать расчёт">Заказать расчёт</button>
                </div>
            </div>

        </div>
    </div>
</section>