<section id="service" class="service">
    <div class="container">
        <h2 class="service__title">Наши услуги</h2>
        <ul class="service__grid">
            @@loop('service-item.html', [
            { "num": 1, "title": 'Реверс-инжиниринг' },
            { "num": 2, "title": '3D-сканирование' },
            { "num": 3, "title": 'Копирование деталей и механизмов любой сложности' },
            { "num": 4, "title": 'Помощь в запуске массового производства деталей и механизмов' },
            { "num": 5, "title": '3D-моделирование деталей' },
            { "num": 6, "title": 'Прототипирование деталей' },
            { "num": 7, "title": 'Разработка рабочих файлов для ЧПУ станков' },
            { "num": 8, "title": 'Разработка конструкторской документации' },
            { "num": 9, "title": 'Аутсорсинг производства' },
            { "num": 10, "title": 'Разработка конструкторской документации' },
            { "num": 11, "title": 'Контроль геометрии опытных образцов' },
            { "num": 12, "title": 'Перенос 2D черчежей в 3D модель' },
            { "num": 13, "title": 'Спектральный и химический анализ деталей' },
            { "num": 14, "title": 'Испытания на кинематику в специализированных программах' },
            { "num": 15, "title": 'Готовое решение под ключ' },
            ])
        </ul>
    </div>
</section>