<section id="stage" class="stage">
    <div class="container">
        <h2 class="stage__title">Как будет происходить работа</h2>
        <ul class="stage__list">
            @@loop('stage-item.html', [
            {
            "title": 'Оставляете заявку любым удобным способом',
            "description": [
            'Звонок',
            'Заполнение формы “Оставить заявку”',
            'Письмо на почту',
            'Мессенджер (Telegram, WhatsApp)',
            'Социальные сети (Вконтакте)'
            ],
            },
            {
            "title": 'Оценка специалиста',
            "description": [
            'Составление технического задания',
            'Расчёт стоимости',
            ],
            },
            {
            "title": 'Запуск проекта в работу',
            "description": [
            'Согласование технического задания',
            'Заключение договора (по желанию заказчика)',
            ],
            },
            {
            "title": 'Выполнение работы',
            "description": [
            'Выезд специалиста',
            'Проведение высокоточного лазерного 3D-сканирования',
            'Разработка конструкторской документации',
            ],
            },
            {
            "title": 'Контроль качества',
            "description": [
            'Проверка размеров',
            'Нормативный контроль чертежей',
            ],
            },
            {
            "title": 'Результат',
            "description": [
            'Передача заказчику конструкторской документации согласно договору и техническому заданию',
            ],
            },
            {
            "title": 'Дополнительные услуги',
            "description": [
            'Размещение продукта на производственной площадке',
            'Доработка документации после производства',
            ],
            },
            ])
        </ul>
    </div>
</section>