<section id="thanks" class="thanks">
    <div class="container">
        <h2 class="thanks__title">Благодарности</h2>
        <div class="thanks__slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide thanks__slide">
                    <div class="thanks__slide-inner">
                        <picture>
                            <source srcset="images/thanks/1.webp">
                            <img src="images/thanks/1.jpg" alt="1" class="thanks__slide-image">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide thanks__slide">
                    <div class="thanks__slide-inner">
                        <picture>
                            <source srcset="images/thanks/2.webp">
                            <img src="images/thanks/2.jpg" alt="2" class="thanks__slide-image">
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide thanks__slide">
                    <div class="thanks__slide-inner">
                        <picture>
                            <source srcset="images/thanks/3.webp">
                            <img src="images/thanks/3.jpg" alt="3" class="thanks__slide-image">
                        </picture>
                    </div>
                </div>
            </div>

            <div class="thanks__slider-btn thanks__slider-btn-prev">
                <svg class="thanks__slider-btn-icon">
                    <use xlink:href="images/sprite.svg#slider-arrow"></use>
                </svg>
            </div>
            <div class="thanks__slider-btn thanks__slider-btn-next">
                <svg class="thanks__slider-btn-icon">
                    <use xlink:href="images/sprite.svg#slider-arrow"></use>
                </svg>
            </div>
        </div>
    </div>
</section>