.footer {
  background-color: #313644;
  color: white;

  &__top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "address address address address email email email phone phone phone social social";
    padding: 60px 0;
    border-bottom: 1px solid white;
    font-style: normal;
  }

  &__logo {
    &-link {
      display: none;
    }
  }

  &__address {
    grid-area: address;
  }

  &__email {
    grid-area: email;

    &-list {
      @include resetLists;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &-link {
      display: block;
      border-bottom: 1px solid transparent;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: white;
      transition: border-color $transition-duration $transition-function;

      &:hover {
        border-color: white;
      }
    }
  }

  &__phone {
    grid-area: phone;

    &-list {
      @include resetLists;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &-link {
      display: block;
      border-bottom: 1px solid transparent;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: white;
      transition: border-color $transition-duration $transition-function;

      &:hover {
        border-color: white;
      }
    }
  }

  &__social {
    justify-content: flex-end;
    grid-area: social;

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      direction: rtl;
      gap: 20px;
      @include resetLists;
    }

    &-link {
      display: block;
      color: white;
      transition: color $transition-duration $transition-function;

      &:hover {
        color: #255ea2;
      }
    }

    &-icon {
      display: block;
      width: 32px;
      height: 32px;
      fill: currentColor;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 55px 0 75px;
  }

  &__legal {
    @include resetMargins;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #616778;
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    color: #616778;
    transition: color $transition-duration $transition-function;

    &:hover {
      color: white;
    }

    &-list {
      @include resetLists;
      text-align: right;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  @media screen and (max-width: $break-tablet-p) {
    &__top {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "address address social social" "phone phone social social" "email email social social";
      gap: 25px;
      padding: 35px 0;
    }

    &__email,
    &__phone,
    &__address {
      justify-content: flex-start;
    }
  }

  @media screen and (max-width: $break-mobile) {
    &__top {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "logo social" "phone phone" "email email" "address address";
      gap: 25px;
      padding: 35px 0;
    }

    &__logo {
      width: 18px;
      height: 9px;

      &-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        margin-right: 7px;
        border-radius: 50%;
        background: linear-gradient(136.58deg, #4BC9FF 0%, #002469 102.91%);
      }

      &-wrap {
        display: flex;
        align-items: center;
      }

      &-text {
        text-transform: uppercase;
      }

      &-title,
      &-caption {
        @include resetMargins;
      }

      &-title {
        font-size: 14px;
        line-height: 16px;
        color: #f1f1f4;
      }

      &-caption {
        font-size: 6px;
        line-height: 6px;
        color: #60afdb;
      }

      &-link {
        display: block;
        margin-right: 0;
      }
    }

    &__social {
      justify-content: flex-start;

      &-list {
        display: flex;
        gap: unset;
        direction: unset;
      }

      &-item {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      &-icon {
        width: 40px;
        height: 40px;
      }
    }

    &__bottom {
      padding: 32px 0 50px;
      flex-direction: column;
    }

    &__legal {
      margin-bottom: 32px;
    }

    &__link {
      &-list {
        text-align: left;
      }
    }
  }
}