.guarantee {
  padding: 80px 0;
  &__title {
    @include resetMargins;
    margin-bottom: 80px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include resetLists;
    border: 1px solid #313644;
  }

  &__item {
    padding: 50px;
    &:not(:last-child) {
      border-right: 1px solid #595d68;
    }
  }

  &__icon {
    display: block;
    &-wrap {
      display: flex;
      flex-shrink: 0;
      border: 2px solid #255ea2;
      border-radius: 50%;
      padding: 20px;
      margin-bottom: 30px;
      max-width: 88px;
      max-height: 88px;
      overflow: hidden;
    }
  }

  &__description {
    @include resetMargins;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  @media screen and (max-width: $break-tablet-p) {
    padding: 60px 0 30px;
    &__title {
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 36px;
    }

    &__items {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
    }

    &__item {
      display: flex;
      padding: 35px 20px;
      &:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #595d68;
      }
    }

    &__icon {
      &-wrap {
        margin-bottom: 0;
        margin-right: 20px;
        padding: 10px;
        width: 50px;
        height: 50px;
      }
    }

    &__description {
      font-size: 16px;
      line-height: 19px;
    }
  }
}