.hero {
  background-color: #edeff1;

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "hero-text hero-text hero-text hero-text hero-text hero-text hero-slider hero-slider hero-slider hero-slider hero-slider hero-slider";
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }

  &__text {
    grid-area: hero-text;
    padding: 65px 50px;
  }

  &__title {
    @include resetMargins;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 48px;
    line-height: 46px;
    color: black;
  }

  &__items {
    @include resetLists;
    margin-bottom: 54px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: black;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 24px;
      height: 14px;
      margin-top: 9px;
      margin-right: 18px;
      background-image: url('../images/sprite.svg#arrow-right');
      background-repeat: no-repeat;
    }
  }

  &__slider {
    position: relative;
    grid-area: hero-slider;
    overflow: hidden;

    &-image {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      user-select: none;
    }

    &-btn {
      position: absolute;
      top: 50%;
      width: 29px;
      height: 28px;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #95a1bb;
      transition: color $transition-duration $transition-function;

      &:hover {
        color: #255ea2;
      }

      &-prev {
        transform: rotate(180deg);
      }

      &-next {
        right: 0;
      }

      &-icon {
        fill: currentColor;
      }
    }
  }

  &__slide {
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: $break-tablet-a) {
    &__title {
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 32px;
    }

    &__items {
      margin-bottom: 30px;
    }

    &__item {
      font-size: 20px;
      line-height: 24px;
    }
  }

  @media screen and (max-width: $break-tablet-p) {
    &__inner {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "hero-text hero-text hero-text hero-text hero-text hero-text" "hero-slider hero-slider hero-slider hero-slider hero-slider hero-slider";
    }

    &__item {
      font-size: 16px;
      line-height: 16px;
    }
  }

  @media screen and (max-width: $break-mobile) {
    padding: 40px 0 25px;

    &__inner {
      border: none;
    }
    &__text {
      padding: 0;
      margin-bottom: 40px;
    }
    &__title {
      font-size: 30px;
      line-height: 30px;
    }
    &__items {
      margin-bottom: 34px;
    }
    &__btn {
      width: 100%;
    }
    &__slider {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}