.service {
  padding: 100px 0 50px;

  &__title {
    @include resetMargins;
    margin-bottom: 80px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    @include resetLists;
  }

  &__item {
    display: flex;
    border: 1px solid #313644;
    flex-direction: column;
    justify-content: space-between;

    &-inner {
      padding: 30px 25px 40px;
    }

    &-image {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 40px;
    }

    &-title {
      @include resetMargins;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }

    &-btn {
      @include resetForm;
      padding: 22.5px;
      border-top: 1px solid black;
      width: 100%;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #000000;
      transition-property: background-color, color;
      transition-duration: $transition-duration;
      transition-timing-function: $transition-function;

      &:hover {
        background-color: #255ea2;
        color: white;
      }

      &:active {
        background-color: darken(#255ea2, 10%);
      }
    }
  }

  @media screen and (max-width: $break-tablet-a) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  @media screen and (max-width: $break-mobile) {
    padding: 25px 0;
    border-bottom: 1px solid black;
    &__title {
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 36px;
    }
    &__grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__item {
      &-inner {
        padding: 30px 30px 40px;
      }

      &-image {
        margin-bottom: 35px;
      }

      &-btn {
        padding: 12px;
      }
    }
  }
}