@mixin resetLists {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin resetForm {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  &:focus-visible {
    outline: none;
  }
}

@mixin resetMargins {
  margin: 0;
  padding: 0;
}

@mixin font-face($font, $source, $weight, $style) {
  @font-face {
    font-family: $font;
    src: url('#{$source}.woff2') format('woff2'),
    url('#{$source}.woff') format('woff');
    font-display: swap;
    font-weight: $weight;
    font-style: $style;
  }
}