.address {
  &__section {
    display: flex;
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    width: 21px;
    height: 21px;
    margin-right: 15px;
  }

  &__place,
  &__schedule {
    @include resetMargins;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
  }

  &__place {
    margin-bottom: 25px;
  }
}