@import "../variables";

.form {
  &__input {
    @include resetForm;
    border: 1px solid #2c2d43;
    border-radius: 0;
    padding: 18px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;

    &::placeholder {
      color: #c6c6cc;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__agreement {
    font-family: 'Inter', Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #2C2D43;

    a {
      text-decoration: underline;
      color: #2C2D43;
    }
  }
}