.ticker {
  display: flex;
  padding: 8px 0 12px;
  background-color: #3b3e46;

  &__list {
    display: flex;
    align-items: center;
    animation: ticker 15s infinite linear;
  }

  &__item {
    margin-right: 55px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    white-space: nowrap;
    color: white;

    &-logo {
      display: block;
      width: 43px;
      height: 43px;
    }
  }

  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}

@keyframes ticker {
  100% {
    transform: translateX(-50%);
  }
}