.benefit {
  padding: 100px 0 0;

  &__title {
    @include resetMargins;
    margin-bottom: 90px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: black;
  }

  &__inner {
    border-right: 1px solid #313644;
    border-left: 1px solid #313644;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include resetLists;
    padding: 50px 0;
    border-top: 1px solid #dbdde0;
  }

  &__item {
    padding: 20px 50px;
  }

  &__icon {
    &-wrap {
      display: flex;
      align-items: center;
      width: 100px;
      height: 100px;
    }
  }

  &__description {
    @include resetMargins;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }

  @media screen and (max-width: $break-tablet-p) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: $break-mobile) {
    &__title {
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 30px;
    }

    &__inner {
      border: none;
    }

    &__grid {
      grid-template-columns: 1fr;
      border: none;
      padding: 0;
      margin-bottom: 50px;
    }

    &__item {
      display: flex;
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__icon {
      width: 100%;
      height: 100%;
      &-wrap {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
    }

    &__description {
      font-size: 16px;
      line-height: 19px;
    }
  }
}