.header {
  padding: 16px 0;
  background-color: #edeff1;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: block;
    width: 30.35px;
    height: 11.45px;

    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 15px;
      width: 49px;
      height: 49px;
      border-radius: 50%;
      background: linear-gradient(136.58deg, #4BC9FF 0%, #002469 102.91%);
    }

    &-wrap {
      display: flex;
      align-items: center;
    }

    &-link {
      margin-right: 20px;
      color: unset;
    }

    &-text {
      display: flex;
      flex-direction: column;
      font-family: 'Inter', Verdana, sans-serif;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-title,
    &-caption {
      @include resetMargins;
    }

    &-title {
      font-size: 22px;
      line-height: 27px;
      color: #0A4A95;
    }

    &-caption {
      font-size: 10px;
      line-height: 12px;
      white-space: nowrap;
      color: #3B4F79;
    }
  }

  &__address {
    @include resetMargins;
    margin-right: auto;
    font-size: 14px;
    line-height: 17px;

    b {
      font-weight: 500;
    }
  }

  &__email {
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include resetLists;
      margin-right: 50px;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &-link {
      display: block;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      white-space: nowrap;
      color: black;
    }
  }

  &__phone {
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: phones;
      @include resetLists;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &-link {
      display: block;
      font-family: 'Inter', Verdana, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      white-space: nowrap;
      color: #3B3E46;
    }
  }

  &__hamburger {
    display: none;
    @include resetForm;
    &-icon {
      display: block;
      width: 36px;
      height: 25px;
    }
  }

  @media screen and (max-width: $break-tablet-a) {
    &__inner {
      justify-content: space-between;
    }

    &__address {
      margin: 0;
    }

    &__email {
      &-list {
        display: none;
      }
    }
  }

  @media screen and (max-width: $break-tablet-p) {
    &__address {
      font-size: 12px;
      line-height: 14px;
    }
  }
  
  @media screen and (max-width: $break-mobile) {
    border-bottom: 1px solid #313644;;
    &__logo {
      width: 18px;
      height: 9px;
      &-circle {
        width: 30px;
        height: 30px;
        margin-right: 7px;
      }

      &-title {
        font-size: 14px;
        line-height: 16px;
      }

      &-caption {
        font-size: 6px;
        line-height: 6px;
      }

      &-link {
        margin-right: 0;
      }
    }

    &__address {
      display: none;
    }

    &__phone {
      &-link {
        font-size: 12px;
        line-height: 12px;
      }
    }

    &__hamburger {
      display: block;
    }
  }
}