.project {
  position: relative;
  padding: 85px 0 80px;
  text-align: center;

  &__title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #313644;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    @include resetLists;
    margin-bottom: 42px;
  }

  &__item {
    border: 1px solid #313644;

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &-wrap {
        margin-bottom: 14px;
      }
    }

    &-title {
      @include resetMargins;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: black;
    }
  }

  &__more-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    color: #255ea2;
  }

  @media screen and (max-width: $break-tablet-p) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: $break-mobile) {
    padding: 60px 0 40px;
    &__title {
      position: static;
      border: unset;
      padding: unset;
      margin-bottom: 50px;
      width: unset;
      height: unset;
      clip: unset;
      clip-path: unset;
      overflow: unset;
      white-space: pre-wrap;
      text-align: left;
    }

    &__items {
      grid-template-columns: 1fr;
      margin-bottom: 30px;
    }

    &__item {
      &-image {
        margin-bottom: 20px;
      }

      &-title {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}