:root {

}

html {
  background-color: #edeff1;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: 'Exo 2', Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color $transition-duration $transition-function;
  &:focus {
    outline: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1260px;
}

.show {
  &-desktop {
    display: block;
  }

  &-mobile {
    display: none;
  }
}

@media screen and (max-width: $break-tablet-a) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (max-width: $break-mobile) {
  .container {
    padding: 0 20px;
  }

  .show {
    &-desktop {
      display: none;
    }

    &-mobile {
      display: block;
    }
  }
}